$fa-font-path: "~font-awesome/fonts";
$fa-font-path: "~font-awesome/fonts";
$bootstrap-sass-asset-helper: false !default;
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$icon-font-name:          "glyphicons-halflings-regular" !default;
$icon-font-svg-id:        "glyphicons_halflingsregular" !default;

$orange: #ff693b;
$green: #A1E8B1;
$blue: #85B2F6;
$grey: #999999;
$white: #fff;
$black: #000;
$primary: #2e6da4;
$success: #3f903f;
$warning: #f0ad4e;
$danger: #d9534f;
$info: #5bc0de;