@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import "variables";
@import "mixins";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~font-awesome/scss/font-awesome";

.fa-success {
  @extend .fa-check;
}

.fa-warning {
  @extend .fa-bullhorn;
}

.fa-danger {
  @extend .fa-bomb;
}

.fa-primary {
  @extend .fa-certificate;
}

.container {
  padding-top: 50px;
  font-family: 'Roboto', sans-serif;
}

.panel-title {
  font-size: 35px;
  font-weight: bold;
  color: $green;
}

.panel-body {
  > .counters {
    margin-bottom: 20px;
  }
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  @include border-radius(15px);
}

.counter {
  font-size: 30px;
  margin: 0 10px 0 10px;
}

.timeline-title {
  margin-top: 0;
  margin-left: 20px;
  color: inherit;
  font-size: 25px;
  font-weight: bold;
}

.timeline-body {
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  text-align: justify;
  > {
    p > img {
      position: absolute;
      top: 5px;
      right: 5px;
      max-width: 300px;
      max-height: 85px;
    }
    p, ul {
      margin-bottom: 0;
    }
    p + p {
      margin-top: 5px;
    }
  }
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
  &:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
  }
  > li {
    margin-bottom: 30px;
    position: relative;
    cursor: move;
    &:before {
      content: " ";
      display: table;
    }
    &:after {
      content: " ";
      display: table;
      clear: both;
    }
    &:nth-child(even) > .timeline-panel {
      float: right;
      &:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
      }
      &:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
      }
    }
    > {
      .timeline-panel {
        width: 46%;
        float: left;
        border: 1px solid #d4d4d4;
        @include border-radius(2px);
        padding: 20px;
        position: relative;
        @include box-shadow(0, 1px, 6px, rgba(0, 0, 0, 0.175));
        &:before {
          position: absolute;
          top: 26px;
          right: -15px;
          display: inline-block;
          border: 15px solid transparent;
          border-right: 0 #ccc;
          border-left-color: #ccc;
          content: " ";
        }
        &:after {
          position: absolute;
          top: 27px;
          right: -14px;
          display: inline-block;
          border: 14px solid transparent;
          border-right: 0 #fff;
          border-left-color: #fff;
          content: " ";
        }
      }
      .timeline-badge {
        color: $white;
        width: 40px;
        height: 40px;
        line-height: 50px;
        font-size: 1.4em;
        text-align: center;
        position: absolute;
        top: 26px;
        left: 50%;
        margin-left: -15px;
        background-color: $grey;
        z-index: 100;
        @include border-radius(50%);
        > i {
          text-align: center;
          font-size: 30px;
          color: $black;
        }
      }
    }
  }
}

.timeline-badge {
  &.primary {
    background-color: $primary !important;
  }
  &.success {
    background-color: $success !important;
  }
  &.warning {
    background-color: $warning !important;
  }
  &.danger {
    background-color: $danger !important;
  }
  &.info {
    background-color: $info !important;
  }
}

@media (max-width: 767px) {
  ul.timeline {
    &:before {
      left: 40px;
    }
    > li > {
      .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
      }
      .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
      }
      .timeline-panel {
        float: right;
        &:before {
          border-left-width: 0;
          border-right-width: 15px;
          left: -15px;
          right: auto;
        }
        &:after {
          border-left-width: 0;
          border-right-width: 14px;
          left: -14px;
          right: auto;
        }
      }
    }
  }
}
