<li>
    <div class="timeline-badge {{type}}" data-toggle="tooltip" data-placement="top" title="{{date}}">
        <i class="fa fa-{{type}}" aria-hidden="true"></i>
    </div>
    <div class="timeline-panel" draggable="true" data-key="{{date}}">
        <button type="button" class="close pull-left">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="timeline-heading">
            <h4 class="timeline-title">
                {{title}}
            </h4>
            <p>
                <small class="text-muted">
                    {{date}}
                </small>
            </p>
        </div>
        <div class="timeline-body">
            <p>{{body}}</p>
        </div>
    </div>
</li>